<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="lang" content="es" />
    <meta name="lang" content="en" />
    <meta name="deployment" content="2722" />
    <meta name="resource-type" content="document" />
    <meta content="global" name="distribution" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Hernan Bracamonte" />
    <meta name="copyright" content="Copyright Hernan Bracamonte" />
    <meta name="robots" content="index, follow,max-image-preview:large" />
    <meta name="rating" content="General" />
    <meta name="GOOGLEBOT" content="index follow" />
    <!-- GENERAL -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- prettier-ignore -->
    <link rel="manifest" href=<%= htmlWebpackPlugin.options.manifest %>
    />
    <!-- prettier-ignore -->
    <link rel="icon" sizes="192x192" href=<%= htmlWebpackPlugin.options.icon192 %>
    />
    <!-- prettier-ignore -->
    <link rel="icon" sizes="512x512" href=<%= htmlWebpackPlugin.options.icon512 %>
    />
    <!-- iOS -->
    <!-- prettier-ignore -->
    <link rel="apple-touch-icon" href=<%= htmlWebpackPlugin.options.icon512 %>
    />
    <!-- prettier-ignore -->
    <link rel="mask-icon" href=<%= htmlWebpackPlugin.options.icon512 %>
    color="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- ANDROID -->
    <meta name="theme-color" content="#000" />
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link href="assets/icons/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <noscript class="">
      Enable JavaScript to enjoy all the features of this app.
    </noscript>
    <main id="main">
      <!-- TODO: Code Here! -->
      <h1 id="title"></h1>
    </main>
  </body>
</html>
